#main {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.centroid {
    text-align: center;
    position: relative;
    top: 40vh;
}


.downer {
    padding-top: 25vh
}

.tombol {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    padding-top: 2vh;
    padding-bottom: : 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    text-decoration-color: #FFFFFF
}

#the-games {
    background-image: url("../img/the-games-bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    grid-template-rows: 1fr 2fr 7fr;
    grid-template-areas:
      ".              .                ."
      "the-games-text .                ."
      ".                picture-slider .";
}

.the-games-title {
    grid-area: the-games-text;
}

.karosel {
    grid-area: picture-slider;
}

#features {
    background-image: url("../img/features.jpg");
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100vw;
    padding-top: 20%;
    padding-left: 30%;
}

#requirements {
    background-image: url("../img/requirements.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}