#main {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    /*position: relative;*/
}

/*.jumbotron {

}*/

#the-games {
    background-image: url("../img/the-games-bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#features {
    background-image: url("../img/features.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 50%;
}