@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

body,
html {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 16px;
}

h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}

h2 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
}

h3 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
}

h4 {
    color: white;
    color:#FCB344;
}

#main {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.centroid {
    text-align: center;
    position: relative;
    top: 40vh;
}


.downer {
    padding-top: 20vh
}

.downer a p {
  color: white;
  text-decoration: none;
}

.tombol {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    padding-top: 1vh;
    height : 10vh;
    padding-left: 4vw;
    padding-right: 4vw;
    color: #1A1917;
    font-weight: bold;
}

#the-games {
    background-image: url("../img/the-games-bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr 2fr 7fr;
    grid-template-areas:
      ".              .             "
      "the-games-text .             "
      ".              picture-slider";
}

.the-games-title {
    grid-area: the-games-text;
}

.karosel {
    grid-area: picture-slider;
}

#features {
    background-image: url("../img/features.jpg");
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100vw;
    padding-top: 20%;
    padding-left: 30%;
}

#requirements {
    background-image: url("../img/requirements.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.tabel {
    margin-top: 2%;
    color: white;
    font-size: medium;
    margin-bottom: 0%;
}

table, th, td {
  border: 1px solid white;
}

#top-score {
    background-image: url("../img/top-score-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}